
table, th, td, tr {
	border: 1px solid black;
	text-align: center;
	}

h1 {
	text-align:center;
	}
h2 {
	text-align:center;
	font-size:30px;
}
table {
	font-size:20px;

	}
hr{
	width:100%;
}

.center{
	text-align: center;
	float: center;
	font-size: 30px;

}

.left{

	font-size:25px;
}
.menu{
	float:center;
	text-align:left;
	margin-right:auto;
	margin-left:auto;

			
}

.menuL{
	float:center;
	text-align:center;
	border:2px outset black;
	width:200px;
	font-size:25px;
	margin-right:auto;
	margin-left:auto;
}

.WebContainer{
	width:100%;
	min-width:1000px;
	height:auto;
}
